/*
!/.gitignore
!/.gitconfig
!/.editorconfig
!/mysite
!/mysite/*
!/themes
!/themes/*
!/composer.json
!/composer.lock
!/bower.json
!/.bowerrc
!/README.md
!/LICENSE*
!/phpunit.xml
*Thumbs.db
*web.config
*.log
*.buildpath
*.project
*.settings
*.idea
*.DS_Store
*._.DS_Store
*.codekit*
*.sublime-*
*.sass-cache
*prepros.cfg
