<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="framework/tests/bootstrap.php">
	<testsuite name="Default">
		<directory>mysite/tests</directory>
	</testsuite>

	<listeners>
		<listener class="SS_TestListener" file="framework/dev/TestListener.php" />
	</listeners>

	<groups>
		<exclude>
			<group>sanitychecks</group>
		</exclude>
	</groups>
</phpunit>
