$zbanner: 200;

%banner-arrows{
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  opacity: 0.1;
  transition: opacity 500ms ease;
  z-index: $zbanner+20;
  .banner-wrapper:hover &{
    opacity: 0.5;
    &:hover{
      opacity: 1;
    }
  }
  .fa{
    // display: none;
    position: relative;
    top: 50%;
    margin-top: rem-calc(-15px);
    font-size: rem-calc(30px);
    color: $white;
  }
}

.banner .next{
  @extend %banner-arrows;
  right: 0;
}
.banner .prev{
  @extend %banner-arrows;
  left: 0;
}

.banner-wrapper{
  position: relative;
  z-index: $zbanner;
}

.banner{
  width: 100%;
  height: 100%;
  .slide{
    width: 100%;
    background-size: cover;
  }

}

.banner .pager{
  text-align: center;
  font-size: rem-calc(20px);
  opacity: 0.1;
  transition: opacity 500ms ease;
  z-index: $zbanner+22;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  span{
    display: inline-block;
    height: 0;
    width: 0;
    overflow: hidden;
    border: 1px solid $white;
    border-radius: 50%;
    background: rgba($white, 0.32);
    padding: rem-calc(12px 0 0 12px);
    margin: rem-calc(6px)
  }
  .cycle-pager-active{
    background: rgba($white, 0.67);
  }
  .banner-wrapper:hover &{
    opacity: 1;
  }
}
