.link-section {
  padding: rem-calc(40 0);
  .preview {
    display: block;
    background-color: $light-gray;
    margin-bottom: rem-calc($grid-column-gutter);
    &:hover{
      background-color: $medium-gray;
    }
  }

  .title {
    @extend h5;
  }

  .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: rem-calc(0);
    height: rem-calc(150);
    width: 100%;
  }

  .contents{
    padding: rem-calc($grid-column-gutter);
    color: $black;
  }

  .more {
    @extend .button;
  }
}
