img {
  width: 100%;
}
.grid {
  float: none;
  display: block;
  position: relative;
  a, img {
    display: block;
    width: 100%;
  }
}
.grid li {
  float: left;
  list-style-type: none;
}
li.grid-item {
  width: 20%;
}
li.grid-item-double {
  width: 20%;
}
